dis-shelf {
  --item-aspect: 1.78;
  --item-gutter: 3vw;

  /* These values should only be set/updated through JavaScript */
  --total-items: 0;
  --window-items: 5;
  --window-offset: 0;

  /* Calculated values */
  --item-width: calc(100% / var(--window-items));

  display: block;
  margin: 0 auto 4vh;
  max-width: 84%;
}

dis-shelf::part(placeholder),
dis-shelf dis-tile {
  width: 100%;
  height: 0;
  padding-bottom: calc(1 / var(--item-aspect) * 100%);
}

dis-shelf::part(track) {
  display: grid;
  grid-template-columns: repeat(
    calc(var(--total-items) + 1),
    calc(var(--item-width) - var(--item-gutter))
  );
  grid-gap: var(--item-gutter);
  margin-right: calc(0px - var(--item-gutter));

  transition: transform 0.2s ease-in-out;
  transform: translateX(calc(
    0px - (var(--window-offset) + 1) * var(--item-width)
  ));
}

dis-shelf::part(title) {
  line-height: 2.6;
  font-size: 2.6vh;
}
